#floatingButton {
    width: 65px;
    border-radius: 10px;
    background-color: black;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 9999; /* Ensure it's above other content */
}

